<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2">
    <link rel="stylesheet" href="{{ url_for('static', filename='noThanks.css') }}" type="text/css">
    <link rel = "icon" href ="{{ url_for('static', filename='images/token.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {
      background-image: url({{ url_for("static", filename="images/3.jpg") }});
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
    {% set text = engine.text["html_txt"] %}
    <title>{{text["login"][engine.lang_id]}}</title>
  </head>

  <body>
    <div class="login_box display_middle white">
      <div class="container teal txt_center padding large">
        {{text["who are you ?"][engine.lang_id]}}
      </div>

      <form class="container padding-large flex-col" method="POST">
        <input type="text" class="input border margin-bottom medium" placeholder="{{text['name'][engine.lang_id]}}" id="firstName" name="firstName" required>
        <button type="submit" class="teal login_button medium">{{text["log in"][engine.lang_id]}}</button>
      </form>
    </div>
  </body>

{% if get_flashed_messages() %}
<div id="messages" class="toast_container">
  <div class="error_message padding-small">
    <i class="fa fa-exclamation-circle text-red" style="margin-right: 6px;"></i>
    <div class="txt_center">{{ get_flashed_messages()[0] }}</div>
    <span onclick="this.parentElement.style.display='none'" class="message_cross txt_center">&times;</span>
  </div>
</div>
{% endif %}


</html>
