{% set game =  player.engine.game %}
{% extends "base.jinja" %}
{% block title %}No Thanks !{% endblock %}
{% block content %}

<div class="large">
  <div class="flex-horizontal space-around">
    {% for other_player in player.other_players %}
      <div {% if other_player == game.current_player %} class="w3-text-red" {% endif %}>
        {{other_player.name}} : {{other_player.tokens}}
      <div class="w3-text-teal medium">
      {% for card in other_player.cards %}
        / {{card}}
      {% endfor %}
      </div>
      </div>
    {% endfor %}
  </div>

  <div class="w3-display-middle">
    {{game.card[0]}} -> {{game.card[1]}}
  </div>

  <div class="w3-display-bottommiddle">
    {{player.tokens}}
    <button onclick="card_action(true);" class="w3-button w3-round-large w3-gray w3-center">Take card</button>
    <button onclick="card_action(false);" class="w3-button w3-round-large w3-gray w3-center">No tanks !</button>
    {% for card in player.cards %}
      / {{card}}
    {% endfor %}
  </div>
</div>


{% endblock %}

{% block additionnal_script %}
function card_action(decision) {
  socket.emit('card_action', decision);
}
{% endblock %}
