/* CSS document for the project "no Thanks" by Felix von Samson */

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body{font-family: 'Baloo 2', cursive; font-size:15px; line-height:1.3; margin:0; padding: 0;}

/* Colors */
.white{color:#000;background-color:#fff}
.teal{color:#fff;background-color:#009688}

/* Generic */
.container{padding:0.01em 16px}

.padding-small{padding:4px 8px}
.padding{padding:8px 16px}
.padding-large{padding:12px 24px}

.margin-small{margin: 8px}
.margin{margin: 16px}
.margin-large{margin: 24px}
.margin-bottom{margin-bottom:16px}

.border{border:1px solid #ccc}

.center{display:inline-block; width:auto; text-align:center}
.display_middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}

.input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}

/* Flex */

/* ------- */
.login_box{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); width:300px;}
.login_button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;
  text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;
  -webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.login_button:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

.token{width:0.8em; height: 0.8em;}

.other_player_container {
  display: flex;
  flex-grow: 1;
  flex-direction:column;
  align-items:center;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap:2%;
  justify-content:center;
  width:100%
}

.series {
  max-width: 2.5em;
  flex: 1;
  display:flex; 
  flex-direction:column;
}

.card {
  background-color:#fff;
  height: 4em;
  border: 1px solid black;
  border-radius: 0.3em;
  font-weight: bold;
  max-width: 2.5em;
  text-align: center;
  position: relative;
  margin-bottom:-2.7em
}

.token_container{
  display: flex;
  align-items:center;
  flex-grow: 0.8;
  width:90%;
  flex-wrap: wrap;
  font-size:40px;
  gap:0.2em;
  justify-content:center;
}

.players_container{

}